#jinja2: lstrip_blocks: "True"

{
    {% if bootstrap is defined and bootstrap == true %}
    "bootstrap": true,
    {% else %}
    "bootstrap": false,
    "retry_join": ["provider=aws tag_key=Project tag_value=consul"],
    {% endif %}
    
    {% if server is defined and server == true %}
    "server": true,
    {% else %}
    "server": false,
    {% endif %}
    
    {% if client is defined and client == true %}
    "ui": true,
    {% endif %}

    "datacenter": "{{ datacenter }}",
    "data_dir": "/var/consul",
    "encrypt": "{{ encrypt }}",
    "log_level": "INFO",
    "enable_syslog": true
}